*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: black;
    color: white;
}
/***grids general***/
.container{
    background-color: bisque;
    width: 100%;
    display: grid;
    height: 1000px;
    grid-template-columns: repeat(4,400px);
    grid-template-rows: 1fr 1fr;
    grid-auto-flow:row;
    justify-items: center;
}

/**propiedades de las cardss***/
.card-1{
    background-color: #91BEBB;
    grid-column: 1 /2;
    grid-row: 1 /4;
}
.card-2{
    background-color: #CA753E;

}
.card-3{
    background-color: #FEAE11;
    grid-column: 4/5;
    grid-row: 1 /4;
}

.card-4{
    background-color: #FEC400;

}
.card{
    /*card-generales**/
    width: 400px;
    border-radius: 20px 20px;
    padding: 10px 5px;
    height: 200px;
    /**grids*/
    display: grid;
    grid-template-columns: 20% repeat(2, 1fr) auto;
    grid-template-rows: auto 1fr 25px;
    grid-template-areas: 
    "icon  logo    logo    img"
    "icon  p    p     img"
    "icon  foot foot  h2"
    ;
}
.img{
    grid-area: img;
}
.logo{
    grid-area: logo;
    justify-self: end;
}
h2{
    grid-area: h2;
    justify-self: center;
}
p{
    grid-area: p;
}
.foot{
    grid-area: foot;
}
.icon{
    grid-area: icon;
    place-self: center;
}

